.host {
    display: block;
}
.content-wrap {
    display: block;
    max-width: 800px;
    margin: auto;
}

.chat-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80vh;
    margin-top: 5px;
}
