.host {
    display: flex;
    position: relative;
    flex-basis: 69%;
    height: 100%;
}
.content-wrap {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.external-user-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    border-bottom: solid;
}
.status {
    // TODO: color status
}

.input-text-wrap {
    display: flex;
    flex-grow: 1;

    input {
        width: 100%;
    }
}

.text-form {
    display: flex;
    padding-top: 5px;
    border-top: solid;

    button {
        padding: 5px 30px;
    }
}

.dialog-window {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    overflow: hidden;

    div {
        width: 100%;
        overflow: scroll;
    }
}

.empty-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
    }
}
