.host {
    display: block;
}
.content-wrap {
    display: block;
}

.message-separator {
    height: 12px;
    text-align: center;
    font-size: x-small;
    overflow: hidden;
    transition: 0.3s;
}
