.host {
    display: block;
}
.content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-radius: 5px;

    p {
        margin: 5px;
    }
}
.btns-wrap {
    button {
        margin: 5px;
    }
}
